@inject UserManager<CodeTweet.IdentityDal.Model.ApplicationUser> UserManager
@model IEnumerable<CodeTweet.DomainModel.Tweet>

@{
    ViewBag.Title = "My Tweets";
}

<h2>Tweets by @UserManager.GetUserName(User)</h2>

@Html.Partial("_Tweets")
